<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="SitePoint">
  <title>Advanced React Application Example</title>
</head>

<body>
  <h2>Hello express and EJS. Answer is: <%=answer%></h2>
</body>
</html>
